- case notification.notifieable_type
  - when "FavoriteSchool"
    %li= link_to "Your school was favorited by #{notification.notifieable.player.first_name} #{distance_of_time_in_words(Date.today, notification.created_at)} ago.", notification.notifieable.player
  - when "PositionNeed"
    %li= link_to "#{notification.notifieable.school.name} has added #{notification.notifieable.position.abbreviation.upcase} to their needs #{distance_of_time_in_words(Date.today, notification.created_at)} ago.", notification.notifieable.school