.container
  %br
  %br
  .row
    .col-md-2
    .col-md-8
      %legend= @user.type
      .col-md-6
        .panel.panel-default
          .panel-body
            .row
              .col-xs-12.col-sm-8
                %h2= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"
                %p
                  %strong School:
                  = @user.school.name unless nil
                %p
                  %strong Needs:
                  - @user.position_needs.each do |need|
                    %a.pos-pop{rel: "popover", "data-html"=>"true","data-container"=>"body", "data-content"=>"#{link_to 'Find Players', players_path, 'class'=>'btn btn-default btn-xs'} #{link_to "Delete Need", need, 'method'=>'delete', 'class'=>'btn btn-default btn-xs'}", "data-placement"=>"left","data-toggle"=>"popover", id: "pos-pop-#{need.id}"}
                      %span.label.label-info.tags= need.position.abbreviation.upcase

              / /col
              .col-xs-12.col-sm-4.text-center
                %img.center-block.img-circle.img-responsive{alt: "", src: @user.avatar.url}
              / /col
            .row
              .col-xs-12.col-sm-4
                %h2
                  %strong= @user.notifications.active.count
                %p
                  %small Notifications
              .col-xs-12.col-sm-4
                %h2
                  %strong= @user.position_needs.count
                %p
                  %small Needs
              .col-xs-12.col-sm-4
                %h2
                  %strong 0
                %p
                  %small New Messages
            .row
              / /col
              .col-xs-18.col-sm-6
                %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#new-position_need-modal", id: "new-position_need"}
                  %button.btn.btn-default.btn-block
                    New Need
              / /col
              .col-xs-18.col-sm-6
                %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#notifications-modal", id: "notifications"}
                  %button.btn.btn-default.btn-block
                    Notifications
    .col-md-2

%div.modal.fade#new-position_need-modal{"tabindex" => "-1", role: "dialog", "aria-labelledby" => "new-position_need-label", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h4.modal-title#new-position_need-label
          Sign Up
      %div.modal-body
        = form_for PositionNeed.new do |f|
          = render "position_needs/form", f:f

%div.modal.fade#notifications-modal{"tabindex" => "-1", role: "dialog", "aria-labelledby" => "notifications-label", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h4.modal-title#notifications-label
          Your Notifications
      %div.modal-body
        - if @user.notifications.empty?
          %strong You don't have any notifications!
        %ul
          = render @user.notifications
      %div.modal-footer
        %button.btn.btn-default{ type: "button", "data-dismiss" => "modal"}
          Close