.container
  %br
  %br
  .row
    .col-md-2
    .col-md-8
      %legend= @user.type
      .col-md-6
        .panel.panel-default
          .panel-body
            .row
              .col-xs-12.col-sm-8
                %h2= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"
                %p
                  %strong Positions:
                  - @user.positions.each do |pos|
                    %span.label.label-info.tags= pos.abbreviation.upcase

              / /col
              .col-xs-12.col-sm-4.text-center
                %img.center-block.img-circle.img-responsive{alt: "", src: @user.avatar.url}
              / /col
            .row
              .col-xs-12.col-sm-4
                %h2
                  %strong= @user.notifications.active.count
                %p
                  %small Notifications
              .col-xs-12.col-sm-4
                %h2
                  %strong= @user.favorite_schools.count
                %p
                  %small Favorites
              .col-xs-12.col-sm-4
                %h2
                  %strong 0
                %p
                  %small New Messages
            .row
              / /col
              .col-xs-18.col-sm-6
                %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#notifications-modal", id: "notifications"}
                  %button.btn.btn-default.btn-block
                    Notifications
              / /col
              .col-xs-18.col-sm-6
                %a{href: edit_player_path(@user)}
                  %button.btn.btn-default.btn-block{type: "button"}
                    Edit Profile
        .panel.panel-default
          .panel-body
            %legend Show Off Your Game
            - if @user.video.present?
              = render "videos/video", user: @user
            - else
              = link_to "Add a Video", '/new_video', class: "btn btn-default"

      .col-md-1
      .col-md-5
        .panel.panel-default#fav-schools
          .panel-body
            %legend
              %small Favorite Schools
            %table.table.table-striped
              %thead
                %th School
                %th Interested Players
              %tbody
                - @user.favorite_schools.each do |favorite|
                  %tr
                    %td= favorite.school.name
                    %td= favorite.school.favorite_schools.count
    .col-md-2

%div.modal.fade#notifications-modal{"tabindex" => "-1", role: "dialog", "aria-labelledby" => "notifications-label", "aria-hidden" => "true"}
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %button.close{ type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
          &times;
        %h4.modal-title#notifications-label
          Your Notifications
      %div.modal-body
        - if @user.notifications.empty?
          %strong You don't have any notifications!
        %ul
          = render @user.notifications.active
      %div.modal-footer
        %button.btn.btn-default{ type: "button", "data-dismiss" => "modal"}
          Close