.container
  %br
  %br
  .row
    .col-md-2
    .col-md-8
      %legend= @user.type
      .col-md-6
        .panel.panel-default
          .panel-body
            .row
              .col-xs-12.col-sm-8
                %h2= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}"
                %p
                  %strong Positions:
                  - @user.positions.each do |pos|
                    %span.label.label-info.tags= pos.abbreviation.upcase

              / /col
              .col-xs-12.col-sm-4.text-center
                %img.center-block.img-circle.img-responsive{alt: "", src: @user.avatar.url}
              / /col
            .row
              .col-xs-12.col-sm-4
                %h2
                  %strong 0
                %p
                  %small Notifications
              .col-xs-12.col-sm-4
                %h2
                  %strong= @user.favorite_schools.count
                %p
                  %small Favorites
              .col-xs-12.col-sm-4
                %h2
                  %strong 0
                %p
                  %small New Messages
            .row
              / /col
              .col-xs-18.col-sm-6
                %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#new-position_need-modal", id: "new-position_need"}
                  %button.btn.btn-default.btn-block
                    New Need
              / /col
              .col-xs-18.col-sm-6
                %a{href: edit_player_path(@user)}
                  %button.btn.btn-default.btn-block{type: "button"}
                    Edit Profile
        .panel.panel-default
          .panel-body
            %legend Show Off Your Game
            

      .col-md-1
      .col-md-5
        .panel.panel-default#fav-schools
          .panel-body
            %legend
              %small Favorite Schools
            %table.table.table-striped
              %thead
                %th School
                %th Interested Players
              %tbody
                - @user.favorite_schools.each do |favorite|
                  %tr
                    %td= favorite.school.name
                    %td= favorite.school.favorite_schools.count
    .col-md-2