.container
  .row
    %br
    .col-md-2
    .col-md-8
      .col-md-4
        %h1= @user.first_name + " " + @user.last_name
        = image_tag "#{@user.avatar.present? ? @user.avatar.url(:web, :preview) : 'player1.jpeg'}"
      .col-md-4
        %ul
          - @user.positions.each do |position|
            %li= position.abbreviation
    .col-md-2
    %br
  .row
    .col-md-2
    .col-md-8
      %br
      %br
      %legend Player Statistics
      %table
        %theader
          %th
            Year
          %th
            Passing Yards
        %tbody
        - @user.stats.each do |stat|
          %tr
            %td= stat.year
          %tr
            %td= stat.passing_yards
    .col-md-2