
%br
%br
.row
  %legend Home
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-xs-12.col-sm-8
            %h2= "#{player.first_name.capitalize} #{player.last_name.capitalize}"
            %p
              %strong Positions:
              - player.positions.each do |pos|
                %span.label.label-info.tags= pos.abbreviation.upcase

          / /col
          .col-xs-12.col-sm-4.text-center
            %img.center-block.img-circle.img-responsive{alt: "", src: @account.avatar.url}
          / /col
        .row
          .col-xs-12.col-sm-4
            %h2
              %strong= @account.notifications.active.count
            %p
              %small Notifications
          .col-xs-12.col-sm-4
            %h2
              %strong= player.favorite_schools.count
            %p
              %small Favorites
          .col-xs-12.col-sm-4
            %h2
              %strong 0
            %p
              %small New Messages
        .row
          / /col
          .col-xs-18.col-sm-6
            %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#notifications-modal", id: "notifications"}
              %button.btn.btn-default.btn-block
                Notifications
          / /col
          .col-xs-18.col-sm-6
            %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#favorite_schools-modal", id: "favorite_schools"}
              %button.btn.btn-default.btn-block{type: "button"}
                Favorite Schools
  .col-md-1
  .col-md-5
    .panel.panel-default
      .panel-body
        %legend Show Off Your Game
        - if player.video.present?
          = render "videos/video", player: player
        - else
          = link_to "Add a Video", '/new_video', class: "btn btn-default"

%legend Manage Your Stats
- @account.accountable.sports.uniq.each do |sport|
  - stat_box_width = @account.accountable.player_stats.joins(:stat).where("stats.sport_id = ?", sport.id).count * 250
  .sport-stat{"sport_id" => sport.id}
    %h2
      = sport.name.titleize
      = image_tag "arrow440.png", style: "width:20px;"
  %div.stat-box{id: "sport-stat-block-#{sport.id}", style: "display:none;"}
    %div{style: "width:#{stat_box_width}px;"}
      - @account.accountable.player_stats.joins(:stat).where("stats.sport_id = ?", sport.id).each do |pstat|
        .panel.panel-success{style: "width:200px; float: left;"}
          .panel-heading
            %h3
              %strong
                %label{id: "stat-value-#{pstat.id}"}= pstat.value
          .panel-body
            %p
              %small= pstat.stat.name.titleize
            %hr
            .row
              .form-group
                .col-md-5
                  %input.form-control{type:"text", id: "player-stat-input-#{pstat.id}"}
                .col-md-1
                .col-md-2
                  %div.change-stat{id: "add-stat-#{pstat.id}", "action" => "add", "stat_id" => pstat.id, type: "button"}
                    = image_tag "add.png"
                .col-md-1
                .col-md-2
                  %div.change-stat{id: "subtract-stat-#{pstat.id}", "action" => "subtract", "stat_id" => pstat.id}
                    = image_tag "minus.png"
    %hr

= render "favorite_schools/index", player: @account.accountable

= render "notifications/account_notifications", account: @account

%div.modal.fade#new-stat-modal{"tabindex" => "-1", role: "dialog", "aria-labelledby" => "stat-label", "aria-hidden" => "true"}
  = render "player_stats/form", player: @account.accountable