%br
%legend Home
.col-md-6
  .panel.panel-default
    .panel-body
      .row
        .col-xs-12.col-sm-8
          %h2= "#{school.name.titleize}"
          %p
            Location
            %strong= school.account.location.upcase
          %p
            %strong Needs:
            - school.position_needs.each do |need|
              %a.pos-pop{rel: "popover", "data-html"=>"true","data-container"=>"body", "data-content"=>"#{link_to 'Find Players', players_path, 'class'=>'btn btn-default btn-xs'} #{link_to "Delete Need", need, 'method'=>'delete', 'class'=>'btn btn-default btn-xs'}", "data-placement"=>"left","data-toggle"=>"popover", id: "pos-pop-#{need.id}"}
                %span.label.label-info.tags= need.position.abbreviation.upcase
        .col-xs-12.col-sm-4.text-center
          %img.center-block.img-circle.img-responsive{alt: "", src: @account.avatar.url}
      .row
        .col-xs-12.col-sm-4
          %h2
            %strong= @account.notifications.active.count
          %p
            %small Notifications
        .col-xs-12.col-sm-4
          %h2
            %strong= school.position_needs.count
          %p
            %small Needs
        .col-xs-12.col-sm-4
          %h2
            %strong 0
          %p
            %small New Messages
      .row
        .col-xs-18.col-sm-6
          %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#new-position_need-modal", id: "new-position_need"}
            %button.btn.btn-default.btn-block
              New Need
        .col-xs-18.col-sm-6
          %a{href: "#", style: "color:#029ece;", "data-toggle" => "modal", "data-target" => "#notifications-modal", id: "notifications"}
            %button.btn.btn-default.btn-block
              Notifications

= render "position_needs/new", account: @account

= render "notifications/account_notifications", account: @account